
div.dashboard {
    position: absolute;
    overflow: scroll;
    width: 100% !important;
    height: 100% !important;
    background-color: rgb(200,200,200);
}

h1 {
    padding-left: 10px;
}

div.button {
    margin: 10px;
    display:flex;
    justify-content: flex-end;
}

Button.start {
    margin-right: 5px;
    right: 0;
    background-color: green !important;
}

Button.start:disabled, Button.start:disabled:hover {
    margin-right: 5px;
    right: 0;
    background-color: grey !important;
}

Button.start:hover {
    background-color: lightgreen !important;
}

Button.end {
    right: 0;
    background-color: red !important;
}

Button.end:disabled, Button.end:disabled:hover {
    right: 0;
    background-color: grey !important;
}

Button.end:hover {
    right: 0;
    background-color: lightpink !important;
}

Button.mr-auto:disabled {
    background-color: grey !important;
}


.collapsible-header {
    height: 30px;
    padding: 0px !important;
    margin: 0px !important;
    padding-left: 10px !important;
    position: relative;
    background-color: rgb(46, 51, 56) !important;    
    align-content: center !important;
}

.collapsible-content {
    width: 100%;
}

.collapsible-div {
    width: 100%;
    padding: 10px;
}
