
.contestant-image {
  height: 100px !important;
}

.table-container {
  margin: 10px;
  overflow: hidden;
}

.table {
    table-layout: fixed;
    border-spacing: 10px;
    background: #fff;
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  }
  
  .Cell {
    border: 1px solid #f4f6f8;
    padding: 4px;
    text-align: center;
  }

  Button.increment-lap, Button.increment-lap:focus {
    background-color: green !important;
    width: 100%;
  }

  Button.increment-lap:hover, Button.increment-lap:active {
    background-color: lightgreen !important;
    width: 100%;
  }

  Button.decrement-lap, Button.decrement-lap:focus {
    background-color: red !important;
    width: 100%;
    margin-top: 5px;
  }

  Button.decrement-lap:hover, Button.decrement-lap:hover:active {
    background-color:lightpink !important;
    width: 100%;
    margin-top: 5px;
  }